@import "tailwindcss";

/* Font face declarations */

@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Glacial Indifference Bold";
  src: url("/fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Jaturat";
  src: url("/fonts/Jaturat.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-Glacial: "Glacial Indifference", sans-serif;
  --font-GlacialBold: "Glacial Indifference Bold", sans-serif;
}

/* Global styles */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to right, #010102, #3533CC);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/*button:hover {
  outline-color: white;
}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    letter-spacing: 1px; /* Slight spacing for clarity */
  }
}

/* Custom styles */

p.company {
  position: relative;
  align-self: flex-end;
  font-family: "Jaturat", sans-serif;
  font-size: 30px;
  color: #8C52FF;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 100px;
}

p.company span:first-child {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 12px;
  color: white;
  line-height: 0.25;
  display: block;
}

h1.home {
  @apply text-8xl;
  font-family: "Jaturat", sans-serif;
  font-size: 100px;
  -webkit-text-stroke: 2px white; /* Thicker outline for bold effect */
  letter-spacing: 1px; /* Slight spacing for clarity */
  text-shadow: 
    -2px -2px 1px rgba(255, 255, 255, 0.6), /* Subtle inner shadow */
     2px -2px 1px rgba(255, 255, 255, 0.6),
    -2px  2px 1px rgba(255, 255, 255, 0.6),
     2px  2px 1px rgba(255, 255, 255, 0.6),
     0px  0px 15px rgba(255, 255, 255, 0.8), /* Soft glow */
     0px  0px 30px rgba(255, 255, 255, 0.6), /* More spread out */
     0px  0px 50px rgba(255, 255, 255, 0.4); /* Largest glow effect */
}

/* .container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: auto;
  gap: 20px; 
} */

button.home {
  background: linear-gradient(to right, #8C53FF, #5CE0E6);
  padding: 10px 45px;
  outline: 1px solid transparent;
  transition: outline-color 0.3s ease-in-out;
  font-family: "Glacial Indifference", sans-serif;
  font-size: 17px;
}